@font-face {
  font-family: "Autography";
  src: local("Autography"),
   url("./fonts/Autography/Autography.otf") format("OpenType");
  font-weight: bold;
  }
@font-face {
  font-family: "Humanist777CondensedBT";
  src: local("Humanist777CondensedBT"),
    url("./fonts/Humnst777/Humanist777CondensedBT.ttf") format("OpenType");
  }
@font-face {
  font-family: "Humnst777\ BT\ Bold.ttf";
  src: local("Humnst777\ BT\ Bold.ttf"),
    url("./fonts/Humnst777/Humnst777\ BT\ Bold.ttf") format("OpenType");
  }
@font-face {
  font-family: "tt1161m_";
  src: local("tt1161m_"),
    url("./fonts/Humnst777/tt1161m_.ttf") format("OpenType");
  }
  


* {
  box-sizing: border-box;
}

body {
  font-family: "Humanist777CondensedBT", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.all-pages {
  width: 100%;
  height: 100vh;
  overflow: auto;
}


.navbar {
  background-color: rgba(142, 142, 142, .5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  padding: 30px;
  position: fixed;
  bottom: 10px;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar > .home-nav-icon, .navbar > .project-nav-icon, .navbar > .contact-nav-icon {
  font-size: 30px;
  cursor: pointer;
}

.navbar > .nav-icon:hover {
  color: #FF6B00;
}

.second-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.second-navbar > .logo > p {
  font-weight: 700;
  color: #FF6B00;
  margin-right: auto;
  text-transform: capitalize;
  font-size: 2.5rem;
  cursor: pointer;
  font-family: "Autography";
}

.second-navbar > ul {
  display: flex;
  margin-right: 20px;
}
.second-navbar > ul > li {
  list-style: none;
  margin-right: 50px;
}
.second-navbar > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 1.5rem;
}

.second-navbar > .download-cv {
  padding: 10px 15px;
  background-color: #FF6B00;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: capitalize;
  margin-right: 20px;
}

/* .navbar > .hamburger-container > .menu {
  display: none;
}

.navbar > .mobile-nav > ul {
  display: none;
} */



/* Home Page */

.home {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.first-home-section {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.first-home-section > .home-text {
  background-color: black;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.first-home-section > .home-text > .second-navbar {
  margin-bottom: 50px;
}
/* .first-home-section > .home-text > .logo {
  color: #FF6B00;
  font-family: "Autography";
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2.5rem;
  cursor: pointer;
  margin-top: 100px;
} */
.first-home-section > .home-text > .first-p, .first-home-section > .home-text > .second-p {
  font-family: "tt1161m_", sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  text-transform: capitalize;
}
.first-home-section > .home-text > .first-p {
  color: white;
  margin-top: 50px;
}
.first-home-section > .home-text > .second-p {
  color: #FF6B00;
  margin-top: 10px;
}
.first-home-section > .home-text > .third-p {
  font-family: "Humanist777CondensedBT", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 5px;
}
.first-home-section > .home-text > .fourth-p {
  font-size: 18px;
  color: #747474;
  margin-bottom: 20px;
}

.first-home-section > .home-text > .hire-me {
  padding: 10px 30px;
  background-color: #FF6B00;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-transform: capitalize;
  margin-bottom: 50px;
  width: 150px;
}

.first-home-section > .home-text > .project-completed {
  background-color: white;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  padding: 10px;
  border-radius: 10px;
  font-family: "Humanist777CondensedBT", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  width: 250px;
  height: 90px;
  z-index: 10;
  text-align: center;
  margin-bottom: 50px;
}
.first-home-section > .home-text > .project-completed > p {
  margin: 2px 0px;
}
.first-home-section > .home-text > .project-completed > p > .plus, .first-home-section > .home-text > .project-completed > p > .percent {
  color: rgb(7, 232, 7);
  font-weight: 900;
}

.first-home-section > .home-text > .home-social-media {
  display: flex;
}

.first-home-section > .home-text > .home-social-media > a {
  text-decoration: none;
}

.first-home-section > .home-text > .home-social-media > a > .social-icon {
  font-size: 30px;
  color: white;
  margin-right: 20px;
}

.first-home-section > .home-text > .project-completed > p > .completed {
  color: rgb(249, 11, 51);
  font-weight: 900;
}

.first-home-section > .home-image {
  position: relative;
  background-color: #C3C0C0;
  max-width: 500px;
}

.first-home-section > .home-image > .home-image-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.first-home-section > .home-image > .home-image-btn > .btn {
  padding: 8px 20px;
  border:  3px solid black;
  font-family: "Humanist777CondensedBT", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.home-image > .developer {
  height: 80%;
  margin-top: 0;
  margin-left: 100px;
}

.home-image > .html {
  height: 50px;
  transform: translate(130px, 50px);
}

.home-image > .css {
  height: 50px;
  transform: translate(20px, 200px);
}

.home-image > .javascript {
  height: 50px;
  transform: translate(230px, 100px);
}

.home-image > .react {
  height: 30px;
  transform: translate(50px, 170px);

}
.home-image > .node {
  height: 40px;
  transform: translate(-50px, 400px);
}
.home-image > .mongodb {
  height: 50px;
  transform: translate(40px, 150px);
}

.second-home-section > .blog-btn {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  /* margin-right: 50px; */
}
.second-home-section > .blog-btn > p {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.blog-btn > .btn-arrow {
  background-color: black;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 15px;
  cursor:  pointer;
}
.blog-btn > .btn-arrow > img {
  height: 15px;
}


/* PROJECTS */
.project-image {
  width: 500px;
  border-radius: 10px;
  height: 320px;
  /* margin: 0px 10px; */
}

.project-image > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}
.project-image > img:hover {
  opacity: 0.2;
}

/* PROJECT PAGE */

.project {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.project > .about {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}  

.project > .about > h1 {
  color:#FF6B00;
  text-transform: capitalize;
  font-size: 2.5rem;
}

.project > .about > p {
  font-size: 1.2rem;
  color: gray;

}

.project > h1 {
  text-align: center;
  color:#FF6B00;
  font-size: 2rem;
}

.project > .project-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project > .project-arrow-container > .arrow-left, .project > .project-arrow-container > .arrow-right {
  color: gray;
  font-size: 40px;
  font-weight: lighter;
  cursor: pointer;
  margin: 0px 20px;
}

.project > .project-arrow-container > p {
  display: none;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  position: absolute;
  color: gray;
}
.project > .project-arrow-container > p > .small-text {
  font-size: 1.5rem;
}

.project > .project-arrow-container > .project-container {
  display: flex;
  justify-content: center;
}



/* CONTACT PAGE */

.contact {
  background-color: #C3C0C0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.first-contact-section {
  font-family: "tt1161m_", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0px 50px;
  height: 100%;
}

.contact-text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-text > .first-circle {
  background: linear-gradient(230.57deg, #F15701 38.97%, #FEC705 75.93%);
  position: sticky;
  top: 100px;
  left: 100px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact-text > .second-circle {
  background: linear-gradient(230.57deg, #F15701 38.97%, #FEC705 75.93%);
  position: sticky;
  top: 570px;
  left: 400px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-text > .text-1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: black;
  line-height: 50px;
}
.contact-text > .text-2 {
  font-size: 2.9rem;
  margin-bottom: 30px;
  color: #FF6B00;
}
.contact-text > .text-3 {
  font-size: 1.2rem;
  color: black;
}

.contact-text > .social-media {
  display: flex;
}
.contact-text > .social-media > a > .social-icon {
  font-size: 30px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
 }

.mobile-contact-text {
  display: none;
 }

.contact-form {
  background-color: black;
  height: fit-content;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  color: white;
}

.contact-form > input, .contact-form > .first-last-name > input {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  padding-block: 10px;
}

.contact-form > .first-last-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.contact-form > .first-p-tag {
  font-size: 1.5rem;
}
.contact-form > .first-last-name > input {
  width: 100%;
  font-size: 18px;
}
.contact-form > .first-last-name > input:focus {
  outline: none;
}
.contact-form > .first-last-name > .first-name {
  margin-right: 20px;
}

.contact-form > .email {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}
.contact-form > .email:focus{
  outline: none;
}

.contact-form > .second-p-tag {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.contact-form > textarea {
  min-width: 100%;
  height: 200px;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
}
.contact-form > textarea:focus {
  outline: none;
}

.contact-form > .add-file {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
}

.contact-form > .add-file > p {
  margin-right: 8px;
}
.contact-form > .add-file > .attachment-input {
  display: none;
}

.contact-form > .send-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: "tt1161m_", sans-serif;
  cursor: pointer;
  width: 100px;
}

@media only screen and (min-width: 1200px) {
  .grid-items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: stretch;
  }
  
  .grid-items > .grid {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: stretch;
  }
  
  .grid-items > .grid {
    width: 100%;
    height: auto;
  }
}


@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000e1a;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 50px;
    margin: 0px 50px;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  
  .navbar > .logo {
    margin-right: auto;
    margin-left: 20px;
  }
  
  .navbar > .logo > p {
    margin-right: auto;
    font-size: 2rem;
  }

  .navbar > .hamburger-container {
    margin-right: 20px;
    cursor: pointer;
  }
  .navbar > .hamburger-container > .hamburger, .navbar > .hamburger-container > .cancel {
    display:block;
    color: white;
    font-size: 30px;
  }
  .navbar > .hamburger-container > .remove-hamburger, .navbar > .hamburger-container > .remove-cancel {
    display: none;
  }
  
  .navbar > .mobile-nav {
    width: 200px;
    height: 180px;
    background-color: #000e1a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 60px;
  }
  .navbar > .mobile-nav > ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .navbar > .mobile-nav > ul > li {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
  }
  .navbar > .mobile-nav > ul > li > a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Humanist777CondensedBT", sans-serif;
    text-transform: capitalize;
    color: white; 
    font-size: 18px;
    font-weight: 700;
  }

  .navbar > ul {
    display: none;
  }

  /* PROJECT PAGE */
  
  .grid-items {
    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
    padding: 80px 40px 10px 40px;

  }
  
  .grid-items > .grid {
    width: 100%;
    height: auto;
    /* margin-bottom: 10px; */
  }

  /* CONTACT PAGE */
  .first-contact-section {
    display: flex;
    flex-direction: column;
    padding: 70px 50px 10px 50px;
  }

  .contact-text {
    width: auto;
    margin-bottom: 50px;
  }
  
  .contact-text > .text-1, .contact-text > .text-2 {
    margin-bottom: 10px;
  }

  .contact-text > .text-1 {
    font-size: 2rem;
  }

  .contact-text > .text-2 {
    font-size: 1.5rem;
  }

  .contact-text > .text-3 {
    display: none;
  }

  .contact-text > .social-media {
    display: none;
  }

  .mobile-contact-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
  }

  .mobile-contact-text > .text-3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .mobile-contact-text > .social-media {
    display: flex;
  }

  .mobile-contact-text > .social-media > a > .social-icon {
    font-size: 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
   }
}


/* MOBILE VIEW */
@media only screen and (max-width: 600px){
  .navbar {
    background-color: #000e1a;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 50px;
    margin: 0px 50px;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  
  .navbar > .logo {
    margin-right: auto;
    margin-left: 20px;
  }
  
  .navbar > .logo > p {
    margin-right: auto;
    font-size: 2rem;
  }

  .navbar > .hamburger-container {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .navbar > .hamburger-container > .hamburger, .navbar > .hamburger-container > .cancel {
    display:block;
    color: white;
    font-size: 30px;
  }
  
  .navbar > .hamburger-container > .remove-hamburger, .navbar > .hamburger-container > .remove-cancel {
    display: none;
  }
  
  .navbar > .mobile-nav {
    width: 200px;
    height: 180px;
    background-color: #000e1a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 60px;
  }
  .navbar > .mobile-nav > ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .navbar > .mobile-nav > ul > li {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
  }
  .navbar > .mobile-nav > ul > li > a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Humanist777CondensedBT", sans-serif;
    text-transform: capitalize;
    color: white; 
    font-size: 18px;
    font-weight: 700;
  }

  .navbar > ul {
    display: none;
  }
  



  /* PROJECT PAGE */
  .project {
    background-image: linear-gradient(#000e1a, #004377);
    width: 100%;
    height: 100vh;
  }
  
  .grid-items {
    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
    grid-gap: 20px;
    padding: 80px 50px 10px 50px;
  }
  
  .grid-items > .grid {
    width: 100%;
    height: auto;
  }

  /* ABOUT PAGE */

  .first-about-section > .greeting {
    font-size: 30px;
  }

  .first-about-section > .introduction {
    font-size: 20px;
  }

  .first-about-section > .text {
    font-size: 16px;
  }
}